{{define "feed-controls"}}
{{if eq .FeedType "hashtag"}}
<div class="feed-controls">
    <div class="feed-controls-inner">
        <span class="feed-label">
            Hashtag Feed:
            {{range .FeedTags}}<span class="feed-active-tag">#{{.}}</span> {{end}}
            {{if .FeedAuthor}}by <span class="feed-active-author">@{{.FeedAuthor}}</span>{{end}}
        </span>
        <button class="btn-back"
                onclick="switchFeedTab(document.querySelector('.feed-tab[data-timeline]'), '/feed/following')">Back to Following</button>
    </div>
</div>
{{else if eq .FeedType "following"}}
<div class="feed-controls">
    <div class="feed-controls-inner">
        <span class="feed-label">Following</span>
    </div>
</div>
{{end}}
{{end}}
